@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Rent a CAR</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Rent a CAR</h2>
        <p>
            Rent a car is a simple app that allows you to look for cars almost everywhere
        </p>
    </div>
  
</div>